@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800;900&display=swap");

.page {
  min-width: 1100px;
  max-width: 1300px;
  margin: 0 auto;
  font-family: "Montserrat", sans-serif;
}

.header {
  margin: 0 0 100px 0;
}

.header__menu {
  height: 40px;
  display: flex;
  justify-content: space-between;
  margin: 20px 0 100px 0;
}

.header__logo {
  height: 45px;
}

.header__navigation {
  display: flex;
  font-size: 16px;
  font-weight: bold;
  column-gap: 15px;
  align-items: center;
}

.header__link {
  text-decoration: none;
  color: #000;
}

.header__title {
  width: 600px;
  line-height: 1.15;
  font-weight: 600;
  font-size: 38px;
}

.header__subtitle {
  line-height: 1.15;
  width: 350px;
  margin: 30px 0;
}

.header__icons {
  display: flex;
  flex-direction: row;
  column-gap: 20px;
  align-items: center;
}

.header__icon {
  height: 27px;
}

.header__pic {
  height: 500px;
}

.header__contaner {
  display: flex;
  gap: 180px;
}

.wallet {
  margin: 0 auto;
  background-color: #007fff;
  border-radius: 20px;
  padding: 40px 0 60px 0;
}

.title {
  text-align: center;
  margin: 0;
}

.forms__container {
  box-sizing: border-box;
}

.forms__containers {
  width: 40%;
  margin-top: 50px;
  display: flex;
  box-sizing: border-box;
  width: 100%;
  justify-content: space-evenly;
}

.forms__container_input_data {
  display: flex;
  flex-direction: column;
}

.forms__container_input_metods {
  width: 600px;
  display: flex;
  flex-direction: column;
}

.wallet__title {
  color: #fff;
}

.forms__container-heading {
  color: #fff;
  margin: 0;
}

.forms__container-paragraph {
  margin: 0;
  color: #fff;
}

.forms__container-heading_metods {
  margin: 0 0 55px 0;
}

.forms__container-paragraph_data {
  margin: 10px 0 20px 0;
  color: #fff;
}

.forms__container-paragraph_metods {
  margin: 30px 0 0 0;
  color: #fff;
}

.forms__input_data_login {
  position: relative;
}

.forms__input_data_money {
  position: relative;
}

.forms__input {
  line-height: 40px;
  border-radius: 10px;
  border: none;
  margin: 10px 0;
  width: 300px;
  height: 60px;
  padding-left: 55px;
}

.forms__input_icon_login {
  height: 26px;
  position: absolute;
  left: 13px;
  top: calc(50% - 13px);
}

.forms__input_icon_money {
  height: 26px;
  position: absolute;
  left: 13px;
  top: calc(50% - 13px);
}

.forms__button {
  margin-top: 10px;
  width: 355px;
  border: none;
  border-radius: 5px;
  height: 40px;
  background-color: rgb(255, 255, 255);
}

.forms__container_blocks {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.forms__container_block {
  background-color: #fff;
  display: flex;
  align-items: center;
  border-radius: 10px;
  width: 180px;
  height: 70px;
  margin: 0 10px 10px 0;
}

.forms__container_image {
  height: 50px;
  margin: 0 auto;
}

.forms__container_image_cards {
  height: 70px;
}

.forms__container_image_ymoney {
  height: 70px;
}

.works {
  margin-top: 50px;
}

.block__columns {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
}

.block__column {
  width: 600px;
  height: 90px;
  background-color: #007fff;
  border-radius: 10px;
  display: flex;
  column-gap: 15px;
  margin: 0 auto;
  margin: 7px auto 7px auto;
  align-items: center;
}

.block__paragraph {
  margin: 7px 0 5px 0;
  color: #fff;
}

.block__title {
  color: #fff;
  margin: 7px 0 5px 0;
}

.block__image {
  height: 30px;
  margin-left: 10px;
}
